body{
    background-color:#34495e;
    overflow:hidden;
}
htmlP{
    position:fixed;
}
.snake{
	position: absolute;
    background-color:#27ae60;
/*    border:2px solid #ffff00;*/
    height:20px !important;
    width:20px  !important;
    top:250px;
    left:250px;
    z-index:1;
}
#food{
    height:20px;
    width:20px;
    background-color: #e67e22;
    position:absolute;
}
#boundry{
    top:15px;
    height:500px;
    width:98%;
    position:absolute;
   /* border:2px solid #ffff00; */
}
p {
 color:#ecf0f1;
 font-family:sans-serif;
 z-index:2;
 opacity:0.6;
}
.bold{
 opacity: 1;
}
/*.evilsnake{
position: absolute;
background-color:#e74c3c;
    border:2px solid #ffff00;
height:20px !important;
width:20px  !important;
top:;
left:s;
z-index:1;
}*/
